*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

html {
  font-size: 62.5%; //1rem = 10px, 10/16 = 62.5%
}

body {
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
  font-family: "Kanit", sans-serif;
}
